<div class="ui segments">
  <div class="ui segment client-header">
    <div class="left-side">
      <div class="client-image">
        <img src="https://picsum.photos/200">
      </div>
      <div class="client-info">
        <div class="name">
          <b>თაკო</b>
        </div>
        <div class="client-key">
          <Span class="label">უნიკალური კოდი:</Span>
          <b class="value">141</b>
        </div>
      </div>
    </div>
    <div class="right-side">
      <div class="actives">
        <div class="active">
          <Span class="label">აქტივები:</Span>
          <b class="value money">1133</b>
          <b class="ccy">GEL</b>
        </div>
        <div class="active">
          <span class="label">Plus:</span>
          <b class="value">7</b>
          <Span class="ccy"></Span>
        </div>
      </div>
      <div class="logout-button">
        <button class="ui red button">
          გასვლა
        </button>
      </div>
    </div>

  </div>
</div>
