<div class="ui form " [formGroup]="formGroup">
  <div class="field">
    <div class="ui left icon input">
      <input type="text" formControlName="name" placeholder="სახელი">
      <i class="address card icon"></i>
    </div>
  </div>
  <ng-container *ngIf="get('name').invalid && get('name').touched">
    <p *ngFor="let error of errors('name')">
      <span class="errorMessage">{{ error }}</span>
    </p>
  </ng-container>
  <div class="field">
    <div class="ui left icon input">
      <input type="text" formControlName="userName" placeholder="მომხმარებელი">
      <i class="user icon"></i>
    </div>
  </div>

  <p *ngIf="get('userName').invalid && get('userName').touched">
    <ng-container *ngFor="let error of errors('userName')">
      <span class="errorMessage">{{ error }}</span>

    </ng-container>
  </p>

  <div class="field">
    <div class="ui left icon input">
      <input type="password" formControlName="password" placeholder="პაროლი">
      <i class="lock  icon"></i>
    </div>

  </div>
  <ng-container *ngIf="get('password').invalid && get('password').touched ">
    <p  *ngFor="let error of errors('password')">
      <span class="errorMessage">{{ error }}</span>
    </p>
  </ng-container>

  <div class="field">
    <div class="ui left icon input">
      <input type="password" formControlName="confirmPassword" placeholder="განმეორებითი პაროლი">
      <i class="lock  icon"></i>
    </div>
    <ng-container *ngIf="get('confirmPassword').invalid && get('confirmPassword').touched">
      <p *ngFor="let error of errors('confirmPassword')">
        <span class="errorMessage">{{ error }}</span>
      </p>
      <div *ngIf="checkPassword(get('password').value,get('confirmPassword').value)">
        <span>პაროლები არ ემთხვევა</span>
      </div>
    </ng-container>

  </div>
  <a routerLink="/auth">
    <span class="ui orange text" >შესვლა</span>
  </a>


  <button type="submit" class="ui basic orange right floated button"><i class="sign in alternate icon"></i>შესვლა
  </button>

</div>
