<div class="ui segments ">
  <div class="ui segment">
    <h1>კლიენტის ძებნა</h1>
  </div>

      <div class="ui segment ">
        <form class="ui bordered form segment">
          <div class="ui three column grid">
            <div class="column ">
              <div class="field">
                <label>სახელი</label>
                <input  type="text">
              </div>

            </div>
            <div class="column">
              <div class="field">
                <label>გვარი</label>
                <input  type="text">
              </div>

            </div>
            <div class="column">
              <div class="field">
                <label>კლიენტის უნიკალური</label>
                <input type="text">
              </div>

            </div>
          </div>
          <div class="search-btn">
            <button type="submit" class="ui right-aligned orange button">ძებნა</button>
          </div>
        </form>

        <div class="table-header">
          <span>კლიენტები</span>
          <div class="ui icon buttons">
            <button class="ui icon button "(click)="onClick() ">
              <i class="plus icon"  ></i>
            </button>
          </div>

        </div>

        <table>
          <thead>
          <th>სახელი</th>
          <th>გვარი</th>
          <th>კლიენტის უნიკალური</th>
          </thead>
          <tbody>
          <tr class="client">
            <td>tako</td>
            <td>sumbadze</td>
            <td>10</td>
          </tr>
          </tbody>
        </table>


</div>
