<div class="ui segments accounts">
  <div class="ui segment">
    <h1>ანგარიშები</h1>
  </div>
  <div class="ui segment">
    <div class="ui segments">
      <div class="table-header">
        <span>ანგარიშები</span>
        <button routerLink="/krn/accounts/create" class="ui icon button">
          <i class="plus icon"></i>
        </button>

      </div>
      <table>
        <thead>
        <th>მფლობელი</th>
        <th>სახელი</th>
        <th>თანხა</th>
        <th></th>
        </thead>
        <tbody>
        <tr *ngFor=" let account of accounts">
          <td class="left aligned">{{account.clientFirstName}}</td>
          <td class="left aligned">{{account.accountName}}</td>
          <td class="right aligned">{{account.amount}}</td>
          <td class="right aligned">
            <i class="trash button icon"></i>
          </td>
        </tr>


        </tbody>
      </table>

    </div>
  </div>
</div>


