<div class="left-sidebar">
  <div class="left-sidebar__user-section">
    <div class="user-upper-section">
      <div class="user-image">
        <img alt="user image" src="https://picsum.photos/200">
      </div>
      <div class="user-name">
        tamari
      </div>
    </div>
    <div class="user-lower-section">
        TAMARI7
    </div>
  </div>
  <ul class="left-sidebar__pages-section">
    <li>
      <a href="#">
        <i class="home icon"></i>
        <span>მთავარი</span>
      </a>
    </li>
  </ul>
</div>
